<ion-header>

  <ion-navbar>
    <ion-title>{{ 'LOGIN_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content scroll="false">
  <div class="splash-bg"></div>
  <div class="splash-info">
    <div class="splash-logo"></div>
    <div class="splash-intro">
      {{ 'WELCOME_INTRO' | translate }}
    </div>
  </div>
  <div padding>

    <form (submit)="doLogin()">
      <ion-list>

        <ion-item>
          <ion-label fixed>{{ 'EMAIL' | translate }}</ion-label>
          <ion-input type="email" [(ngModel)]="account.username" name="username"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label fixed>{{ 'PASSWORD' | translate }}</ion-label>
          <ion-input type="password" [(ngModel)]="account.password" name="password"></ion-input> 
        </ion-item>

        <div padding>
          <button ion-button color="primary" block>{{ 'LOGIN_BUTTON' | translate }}</button>
        </div>

        <a href="https://growreferral.com/register">Register on website</a>

      </ion-list>
    </form>

  </div>
</ion-content>
