<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="brandion">
      <img src="/assets/img/logo.png" /> 
    </ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>
  <div style="float:right;">
  <button ion-button menuToggle>
    <ion-icon name="options"></ion-icon>
  </button>
</div>

  <h3>Club Search</h3>
  <p>View club details here</p>



  <ion-list>
     <ion-item  *ngFor="let club of clubs" (click)="fnViewClub(club.id)">
       <ion-label>{{club.name}}</ion-label>
     </ion-item>
  </ion-list>

</ion-content>


<ion-footer padding>
  <div class="pull-center">
    <div>
      <button  (click)="fnCreateClub()" ion-button>
       Create Club
      </button>
    </div>
    <button  (click)="goback()" ion-button clear>Close</button>
  </div>
</ion-footer>
