<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="brandion">
      <img src="/assets/img/logo.png" />
    </ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>

  <h3>Join Club</h3>
  <p *ngIf="myRequests.length>0">You have requests to join club</p>

  <ion-list>
    <ion-item  *ngFor="let myRequest of myRequests" (click)="fnViewClub(myRequest.request_id)">
          <ion-label *ngIf="myRequest.from_first_name">Club : {{myRequest.from_first_name}} {{myRequest.from_last_name}}</ion-label>
    </ion-item>
  </ion-list>

  <p *ngIf="myRequests.length<=0">You need to join a club or create one</p>

    <div class="pull-center">
      <div>
        <button  (click)="fnGoToCreateClub()" ion-button>
         Create New Club
        </button>
      </div>
      <button  (click)="fnBrowseClubs()" ion-button clear>Explore Other Clubs</button>
    </div>


</ion-content>


<ion-footer padding>
</ion-footer>
