.brandion img {
    height: 35px;
    margin-top: 5px;
}
.brand-wording {
    top: -11px;
    position:relative;
    color:#fff;
}
ion-header > ion-navbar .bar-button-default-ios,
ion-header > ion-navbar .bar-button-default.bar-button-ios-default,
ion-header > ion-navbar .bar-button-clear-ios-default {
    color:#fff;
}
button.btn {
    background-color:map-get($colors, primary);
}

ion-header,
ion-header > ion-navbar,
ion-header > ion-navbar .toolbar-background
{
      background-color: map-get($colors, primary);
}
.pull-center {
   text-align: center;
}
.helpicon {
   margin-left:5px;
}

.top-margin-large {
    margin-top: 170px;
}
