ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="brandion">
      <img src="/assets/img/logo.png" />
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

<form  [formGroup]="createclub" (ngSubmit)="fnCreateClubAndRedirectToBuildCoreNetworkPage()">
  <p>Enter new Club Information</p>
  <ion-list>
    
        <ion-item>
          <ion-label>Club Name</ion-label>
          <ion-input placeholder="Club Name" formControlName="ctlclubname"  type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Description</ion-label>
          <ion-textarea formControlName="ctlclubdesc" placeholder="A mission or description for your club "></ion-textarea>
        </ion-item>

  </ion-list>
  <ion-buttons>
    <div class="pull-center">
        <button type="submit"  [disabled]="!createclub.valid" ion-button  >Create Club</button>
    </div>
 </ion-buttons>
</form>



</ion-content>
